# Virtual Environment
venv/

# Dependency Management
*.pyc
*.pyo
__pycache__/

# Django
db.sqlite3
*.pyc
*.pyo
__pycache__/
media/
static/

# Celery
celerybeat-schedule.db

# IDE/Editor
.vscode/
.idea/
.vs/

# Logs and Temporary files
logs/
*.log
*.swp

# Environment Files
.env

# Other files
config.py
constants.py
